
html {
  font-family: "Lato" Arial, sans-serif;
}
body {
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    min-width: 1140px;
    min-height: 100vh;
}
.navbar {
    text-align: center;
    background-color: black;
    list-style: none;
    padding: 15px 0px;
}
.navbar li {
    color: white
    display: inline-block;
    padding: 10px;
}
.bouton {
    text-decoration: none;
    font-size: 20px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li {
    display: inline;
    color: white;
    background-color: red;
}
